html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.container {
    width: 800px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px lightgray;
}
#canvas {
    width: 800px;
    height: 600px;
}